* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kalnia", serif;
}

/* NAV */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    border-bottom: 1px solid #ccc;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search-cont {
    flex-grow: 1;
    text-align: center;
}

.house-icon {
    font-size: 30px;
}

.house-icon a {
    color: #000000;
    text-decoration: none;
}

.house-icon a:hover {
    color:#000000; 
    text-decoration:none; 
    cursor:pointer;  
}

/* NO RESULT */

.noresult {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

/* CONTAINER 2 */

.container1 {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
    height: 450px;
    margin-bottom: 30px;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-content: space-between;
}

.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    height: 190px;
}