{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Home{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

  {% block extra_css %}{% endblock %}

  <!-- FONTS --> 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap" rel="stylesheet">

</head>
<body>
  <nav>
    {% block nav %}
    {% endblock %}
  </nav>

  {% block content %}
  
  <div class="container-1">

    <div class="main-content-cont">

      <div class="main-label-cont">
        <h1>Restaurant Finder.</h1>
      </div>
      
      <div class="search-cont">
        <form action="">
          <input class="food-search" type="text" name="food_search" placeholder="places to go, ramen, taco shop">
          <input class="place-search" type="text" name="place_search" placeholder="location">
          <button>
            <img src="{% static 'images/searchIcon.png' %}" alt="Search Icon">
          </button>
        </form>
      </div>
      
    </div>

  </div>

  {% endblock %}

</body>
</html>