{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Home{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

</head>
<body>
  {% block content %}
  <h1>Restaurant Finder</h1>

  <form action="">
    <input type="text" name="food_search" placeholder="places to go, ramen, taco shop">
    <input type="text" name="place_search" placeholder="location">
    <button>Enter</button>
  </form>
  {% endblock %}
</body>
</html>